<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yudhister Kumar</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-TKY9S092B5"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-TKY9S092B5');
	</script>
    <script>
		window.MathJax = {
		  tex: {
			inlineMath: [['$','$'], ['\\(','\\)']],
			displayMath: [ ['$$','$$'], ["\\[","\\]"], ]
		  },
		  startup: {
			ready: () => {
					// Function to iterate over all pre and code elements
					// if they contain TeX/LaTeX code for maths as defined
					// by the markers in tex settings above then copy their
					// textContent before them and remove the element from
					// the DOM. 
					
					// get pre and code elements
					var prelist = document.getElementsByTagName("pre");
					var codelist = document.getElementsByTagName("code");
					// get delimiters for inline and display math
					var inline = MathJax.config.tex.inlineMath;
					var display = MathJax.config.tex.displayMath;
					// start building  a RegExp for each of these math types
					var inlineRegexList = [];
					var displayRegexList =[];
					for(i=0;i<inline.length;i++) {
						// https://stackoverflow.com/questions/3446170/escape-string-for-use-in-javascript-regex
						delimLEsc = inline[i][0].replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
						//alert(delimLEsc);
						delimREsc = inline[i][1].replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
						inlineRegexList.push("("+delimLEsc+")((.|[\\r\\n\\t])*?)("+delimREsc+")");
					};
					for(i=0;i<display.length;i++) {
						// https://stackoverflow.com/questions/3446170/escape-string-for-use-in-javascript-regex
						delimLEsc = display[i][0].replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
						//alert(delimLEsc);
						delimREsc = display[i][1].replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
						displayRegexList.push("("+delimLEsc+")((.|[\\r\\n\\t])*?)("+delimREsc+")");
					};
					inlineRegExp = new RegExp(inlineRegexList.join("|"));
					displayRegExp = new RegExp(displayRegexList.join("|"));
					
					// iterate over pre elements applying RegExp
					// iterate "backwards" as we are removing elements!
					for (i=prelist.length; i>0; i--) {
						if(displayRegExp.test(prelist[i-1].textContent)) {
							var t = document.createTextNode(prelist[i-1].textContent);
							prelist[i-1].parentNode.insertBefore(t,prelist[i-1]);
							prelist[i-1].parentNode.removeChild(prelist[i-1]);
						}
					}
					// iterate over code elements applying RegExp
					// iterate "backwards" as we are removing elements!
					for (i=codelist.length; i>0; i--) {
						if(inlineRegExp.test(codelist[i-1].textContent)) {
							var t = document.createTextNode(codelist[i-1].textContent);
							codelist[i-1].parentNode.insertBefore(t,codelist[i-1]);
							codelist[i-1].parentNode.removeChild(codelist[i-1]);
						}
					}
			  // Now process the page in MathJax
			  MathJax.startup.defaultReady();
			}
		  }
		};
		</script>
		<script type="text/javascript" id="MathJax-script" async
		  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
		</script>
</head>
<body>
	<nav>
        <ul>  
            <li>[<a href="/">Home</a>]</li>
            <li>[<a href="/now">Now</a>]</li>
            <li>[<a href="https://microdosinglucidity.com">Essays</a>]</li>
            <li>[<a href="/blog">Blog</a>]</li>
            <li>[<a href="/shelf">Shelf</a>]</li>
            <li>[<a href="https://twitter.com/yudhister_">Twitter</a>]</li>
            <li>[<a href="https://curius.app/yudhister-joel-kumar">Curius</a>]</li>
			<li>[<a href="/atom.xml">Atom</a>]</li>
    </nav>
    <main>
        <h1>Welcome!</h1>
        <ul>
            <li>Jando's Liszt</li>
            <li>Seville oranges</li>
            <li><i>Nietzsche contra Wagner</i></li>
            <li>TurboBurger, Tbilisi</li>
            <li>exotic $\mathbb{R}^4$ structures</li>
            <li>seL4: formal verification of practical systems</li>
            <li><i>Finnegans Wake</i>, Joyce (and Joyce generally)</li>
            <li>Badwater Basin, Death Valley</li>
            <li><i>The Last Lecture</i>, Pausch</li>
            <li><i>Intercourse</i>, Dworkin</li>
            <li><i>Notes</i>, Kinoko Nasu</li>
            <li>reflective oracles &amp logical inductors</li>
            <li><i>Ideal Commonwealths</i> (More, Bacon, Lycurgus…)</li>
            <li>artificial wombs; end-to-end embryogenesis</li>
            <li>Grothendieck topoi</li>
            <li>Wasserstein metrics</li>
            <li>CUDA optimizations, high-performance computing</li>
            <li>nanomanufacturing, superforecasting, <s>abiogenesis?</s></li>
            <li>non-computationalist approaches to consciousness</li>
            <li>Octavio Paz</li>
            <li>...</li>
        </ul>
        <p>^ a brief attempt at decomposing my aesthetic preferences</p>
        <p>Anyway, I'm Yudhister! It's a pleasure. <a href="mailto:yudhister@berkeley.edu">Email me</a>.  Better yet, <a href="https://calendly.com/yudhister/">talk to me</a>. I love meeting new people!</p>
    </main>
</body>
</html>

